.item-price {
    float: right;
    text-align: right;
    color: #000000;
    font-size: 20px;
    margin-right: 10px;
}

.item-price-cart {
    text-align: right;
    color: #000000;
    font-size: 20px;
    margin-right: 10px;
}

.style-margin-right {
    margin-right: 20px;
}

.item-total {
    float: right;
    color: #000000;
    font-size: 24px;
}

.item-total1 {
    color: #EE2E24;
    font-size: 20px;
}

.item-total2 {
    color: #EE2E24;
    font-size: 28px;
}

.front-black {
    color: #000000;
    font-size: 12px;
}

.icon-margin {
    margin-right: 8px;
}

.icon-gray {
    color: #848484;
}

.icon-green {
    color: #01DF3A;
}

.icon-red {
    color: #FF0000;
}

.icon-yellow {
    color: #FFFF00;
}

.style-width-100p {
    width: 110%;
}

.style-width-50 {
    font-size: 24px;
}

.style-front-typepay {
    font-size: 16px;
    color: white;
    font-size: bold;
}

.front-cancel {
    color: white;
}

.text-center {
    margin-left: 10px;
    text-align: center;
}

.text-border {
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-color: #D0D0D0;
    background-color: #ffffff;
}

.style-width95 {
    width: 95%;
    text-align: center !important;
    color: #9C9C9C;
}

.style-margin-left {
    margin-left: -15px;
    background-color: white;
}

.text-margin-left {
    margin-left: 20px;
}

.style-margin-left10p {
    margin-left: 10px;
    border-bottom: 1px solid;
    border-color: #D0D0D0;
    background-color: #ffffff;
}

.style-border-left1 {
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-color: #D0D0D0;
    background-color: white;
}

.style-width90 {
    width: 90%;
    text-align: right;
    color: #9C9C9C;
}

.style-margin-left15p {
    margin-left: -15px;
}

.style-text-align-center {
    margin-left: 10px;
    text-align: center;
    color: green;
    font-size: 30px;
    margin-top: -15px;
}

.style-color-green {
    color: gray;
    font-size: 15px;
    padding-top: 7px;
    margin-top: -10px;
}

.style-ul {
    height: 50px;
    margin-top: 10px;
}

.list-balance {
    margin: 5px 5px 5px 5px;
}

.input-balance {
    height: 35px;
}

.icon-button-balance {
    font-size: 25px !important;
}

.test {
    color: red;
}

.style-text-size-25px {
    font-size: 25px;
}

.style-text-size-24px {
    font-size: 24px;
}

.style-text-color {
    color: #9C9C9C;
}

.style-text {
    font-size: 25px;
    text-align: center;
}

.style-text-unit {
    font-size: 24px;
    margin-left: 30px;
}

.item-price1 {
    float: center;
    color: #000000;
    font-size: 20px;
    margin-left: 30px;
}

.style-textarea {
    margin-top: 40px;
    text-align: center;
    border-style: 3px solid !important;
}

.style-textarea1 {
    margin-top: 10px;
    border-style: 1px solid !important;
}

.style-red1 {
    color: red;
    font-size: 21px;
}

.button-sign-in {
    margin-top: -350px !important;
    color: #FFFFFF !important;
    font-size: 30px;
}

.input-login {
    height: 40px;
    border-radius: 10px;
    border-color: #FFF !important;
}

.item-row {
    height: 100px;
}

.row-item {
    margin-top: -7px;
}

.font-title {
    font-size: 20px !important;
}

.margin-top-li {
    margin-top: -10px;
}

.set-padding {
    height: 90px;
}

.set-top {
    margin-top: -20px;
}

.set-top-p {
    margin-top: 7px;
}

.icon-delete {
    font-size: 70px;
    color: #4A4A4A;
    margin-right: 30px !important;
    margin-left: 15px;
}

.col-31 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.3333%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 33.3333%;
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    text-align: center;
    max-width: 31%;
}

.select-size {
    width: 70px;
    border-color: #BBBBBB;
    background-color: white;
}
