<ion-view class="welcome-view" cache-view="false">
    <ion-content scroll="false">
        <div class="top-content row">
            <div class="app-copy col col-center">
            </div>
        </div>
        <div class="list">
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col col-10"></div>
                <div class="col col-80">
                    <label class="item item-input input-login">
                        <span class="input-label">Username</span>
                        <input type="text">
                    </label>
                </div>
                <div class="col col-10"></div>
            </div>
            <div class="row">
                <div class="col col-10"></div>
                <div class="col col-80">
                    <label class="item item-input input-login">
                        <span class="input-label">Password</span>
                        <input type="password">
                    </label>
                </div>
                <div class="col col-10"></div>
            </div>
            <br>
            <br>
            <div class="row" ng-show="hideLoginTrue">
                <div class="col col-40"></div>
                <div class="col col-20">
                    <div class="spinner">
                        <div class="cube1"></div>
                        <div class="cube2"></div>
                    </div>
                </div>
                <div class="col col-40"></div>
            </div>
        </div>
        <div class="bottom-content row" ng-hide="hideLoginTrue">
            <div class="col col-bottom">
                <a class="button button-block button-clear button-sign-in" ng-click="googleSignIn()">
                    Sign In
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
