<ion-view class="bg-menu">
    <ion-content style="margin-top:30px;">
        <div class="row text-center row-button-menu">
            <div class="col col-50 ">
                <button class="button button-assertive bigButton" ui-sref="app.shop">
                    <i class="ion-ios-cart-outline icon-font-40"></i>
                    <p class="textButton">Sale</p>
                </button>
            </div>
            <div class="col col-50 text-left">
                <button class="button button-assertive bigButton" ui-sref="app.main">
                    <i class="ion-ios-list-outline icon-font-40"></i>
                    <p class="textButton">History</p>
                </button>
            </div>
        </div>
        <br>
        <div class="row text-center">
            <div class="col col-50 ">
                <button class="button button-assertive bigButton" ui-sref="app.orderadjust">
                    <i class="ion-ios-information-outline icon-font-40"></i>
                    <p class="textButton">Adjustment</p>
                </button>
            </div>
            <div class="col col-50 text-left">
                <button class="button button-assertive bigButton" ui-sref="app.main-sync">
                    <i class="ion-ios-loop icon-font-40"></i>
                    <p class="textButton">Sync to Hub</p>
                </button>
            </div>
        </div>
        <br>
        <div class="row text-center">
            <div class="col col-50 ">
                <button class="button button-assertive bigButton" ui-sref="app.data">
                    <i class="ion-ios-gear-outline icon-font-40"></i>
                    <p class="textButton">Master Data</p>
                </button>
            </div>
            <div class="col col-50 text-left">
                <button class="button button-assertive bigButton">
                    <i class="ion-ios-chatboxes-outline icon-font-40"></i>
                    <p class="textButton">Message</p>
                </button>
            </div>
        </div>
        <br>
        <div class="row row-margin">
            <div class="col col-33"></div>
            <div class="col col-33 text-left">
                <button class="button  button-assertive bigButton" ui-sref="auth.welcome">
                    <i class="ion-log-out icon-font-40"></i>
                    <p class="textButton">Sign Out</p>
                </button>
            </div>
            <div class="col col-33"></div>
        </div>
    </ion-content>
</ion-view>
