<ion-view view-title="main" class="main-view" nav-transition="ios" ng-init="loadOrders()">
  <ion-tabs class="tabs-icon-top tabs-striped tabs-background-balanced tabs-color-light shop-tabs">
    <ion-tab title="All" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ui-sref="app.main.all">
      <ion-nav-view name="main-all"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Sold" icon-on="ion-ios-pulse-strong" icon-off="ion-ios-pulse" ui-sref="app.main.sold">
      <ion-nav-view name="main-sold"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Keep" icon-on="ion-ios-pricetags" icon-off="ion-ios-pricetags-outline" ui-sref="app.main.keep">
      <ion-nav-view name="main-keep"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Void" icon-on="ion-ios-pricetags" icon-off="ion-ios-pricetags-outline" ui-sref="app.main.void">
      <ion-nav-view name="main-void"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
