<ion-view view-title="Product">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-light" ui-sref="app.shop"><b>Done</b></button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="false" has-bouncing="true" class="icon-red">
        <div class="row item item-text-wrap">
            <div class="col col-40 "><img class="style-pix-h130-w150" ng-src="{{product.img}}">
            </div>
            <div class="col col-60 text-center">
                <br>
                <span class="product-title icon-red">{{product.name}}</span>
                <h1 class="product-price icon-red ">{{product.price}} THB</h1>
            </div>
        </div>
        <div class="icon-red">
            &nbsp; <b>{{"Promotion"}}</b>
            <br> &nbsp; <span>{{"Bey 1 Free 1"}}</span>
        </div>
                <ion-scroll direction="x" delegate-handle="isde" zooming="true" has-bouncing="true">
            <img ng-repeat="range in range(product.total_qty + product.qty)" ng-src="{{product.img}}" />
        </ion-scroll>
    </ion-content>
    <div class="bar bar-footer style-height-100px">
        <ion-scroll direction="x" delegate-handle="isde" zooming="true" has-bouncing="true">
            <img ng-repeat="range in range(product.total_qty + product.qty)" ng-src="{{product.img}}" />
        </ion-scroll>
    </div>
</ion-view>