<ion-view view-title="Sold" class="shop-home-view">
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search">
            </label>
        </div>
        <ion-list>
            <ion-item class="style-width-100p">
                <a class="front-black " href="#">
                    <p class="front-black"> - Hot Dog</p>
                    <p> - Water <span class="item-price">330.00 Baht <i class="icon ion-chevron-right"></i></span>
                    </p>
                    <p> - Pizza <span class="item-price style-margin-right"> <i class="icon-green  icon-margin  icon ion-ios-circle-filled"></i>
                    <i class="icon-gray icon-margin  icon ion-ios-circle-filled"></i>
                    <i class="icon-gray  icon ion-ios-circle-filled"></i></span></p>
                </a>
                <ion-option-button class="button-assertive">&nbsp;&nbsp;&nbsp;&nbsp;Delete&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-opton-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>