<ion-view view-title="Exchange" class="shop-home-view">
    <ion-content overflow-scroll="false" has-bouncing="true">
        <div class="list list-balance">
            <label class="item item-input input-balance">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search" ng-model="searchall">
            </label>
        </div>
        <ion-list class="style-text-center">
            <ion-item ng-repeat="cur in currency | filter: searchall" style="padding: 6px">
                <div class="row">
                    <div class="col col-25 style-col-left">1 {{cur.name}} </div>
                    <div class="col col-50 style-text-size-30px style-width-80px"><i class="icon ion-arrow-swap"></i></div>
                    <div class="col col-25 style-col-right">{{cur.exchange}} THB</div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
