<ion-modal-view>
    <ion-header-bar>
        <div class="buttons">
            <button class="button button-clear button-light" ng-click="Payment.hide()"><b class="front-cancel">Close</b></button>
        </div>
        <h1 class="title modal-title "><b class="front-cancel">Currency</b></h1>
    </ion-header-bar>
    <ion-content overflow-scroll="false" has-bouncing="true">
        <ion-list ng-repeat="currency in currency">
            <ion-radio ng-value ="currency.name" ng-model="itemTypePay.currency.currencys.name" ng-click="curren(currency)" class="style-text-color">{{currency.name_desc}}</ion-radio>
        </ion-list>
    </ion-content>
</ion-modal-view>









