<ion-view view-title="Payment" class="shop-home-view">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-light" ng-disabled="calculatorTotal > 0" ng-click="comfirmPayment()"><b>Done</b></button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="false" has-bouncing="true">
        <div class="item icon-red style-text-size-24px item-sub-title-up">
            <p class="item-sub-title">
                &nbsp;&nbsp;<span>Total</span>
                <span class="item-note icon-red style-text-size-25px">{{iFlightData.total_gross_amount | number: 2}} THB</span></p>
            <p>
                <p class="item-price-cart" ng-show="changemoney == 0">Remain {{calculatorTotal | number: 2}} THB</p>
                <p class="item-price-cart" ng-show="changemoney != 0">Change {{changemoney | number: 2}} THB</p>
            </p>
        </div>
        <ion-list>
            <ion-item class="set-padding" ng-repeat="item in payments">
                <div class="style-margin-left set-top">
                    <div class="row">
                        <div class="col col-33 style-margin-left10p" class="text-center" ng-click="typeOfPayment(item)"><span class="input-label">{{item.type}}<i class="icon ion-chevron-right text-margin-left"></i></span></div>
                        <div class="col col-66 style-text-color  " style="border-left: 1px solid; border-color: #D0D0D0;">
                            <input type="text" class="style-width95  style-text-color " ng-click="payment(typepayment,item)" ng-show="item.type === 'Cash'" ng-model="item.currency.currencys.name_desc" placeholder="Select Currency" readOnly>
                            <input type="number" ng-show="item.type === 'Credit'" class="style-width95   style-text-color" ng-model="item.currency.card_id" placeholder="Card No." max="9999999999999999" ng-keyup="keyCardId(item)">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-33 margin-left-noborder">
                            <p ng-show="item.type === 'Cash' && item.currency.money > 0" class="style-width90 style-text-color set-top-p">{{item.amount | number : 2}} THB</p>
                            <p ng-show="item.type === 'Credit' && item.currency.money > 0" class="style-width90 style-text-color set-top-p">{{item.currency.money}} THB</p>
                            <!-- <input type="text" ng-show="item.type === 'Credit'" class="style-width90 style-text-color" ng-model="item.currency.money" readOnly> -->
                        </div>
                        <div class="col col-66 style-border-left2" ng-click="showPopup(item)">
                            <!-- <input type="number" class="{{item.currency.money > 0 ? 'style-width90  style-text-color text-right item-money' : 'style-width90  style-text-color text-center'}}" ng-model="item.currency.money" placeholder="Amount" ng-click="showPopup(item)" readOnly> -->
                            <p class="style-width90 style-text-color set-top-p" ng-show="item.currency.money > 1">{{item.currency.money | number : 0}} {{item.currency.currencys.name}}</p>
                            <p class="style-width90 text-amount set-top-p text-center" ng-show="item.currency.money < 1">Amount</p>
                        </div>
                    </div>
                </div>
                <ion-option-button class="button-assertive" ng-click="removePayment($index)">&nbsp;&nbsp;Delete&nbsp;&nbsp;</ion-opton-button>
            </ion-item>
        </ion-list>
        <ul class="list" ng-hide="iFlightData.sold_total >= iFlightData.total_gross_amount">
            <li class="item style-ul">
                <div class="style-margin-left15p">
                    <div class="row" ng-click="addPayment()">
                        <div class="col col-25 style-text-align-center">
                            <i class="ion-ios-plus-outline"></i></div>
                        <div class="col col-75 style-color-green">
                            <span>Add Payment</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </ion-content>
</ion-view>
