<ion-view view-title="Receipt">
    <ion-content scroll="false">
        <br>
        <ion-scroll direction="y" style="height:90%;">
            <div class="row">
                <div class="col col-50"><img src="img/airAsiaX.png" class="image-logo-receipt"></div>
                <div class="col col-50">
                    <br>
                    <p>Rcpt-ID : {{receiptDetail.receipt_number}}</p>
                    <p>Date : {{receiptDetail.date | date : 'yyyyMMdd (HH:mm)'}}</p>
                    <p>Flight : AK 6302</p>
                    <p>{{receiptDetail.seller_user}}</p>
                </div>
            </div>
            <br>
            <div class="row receipt-border-bottom receipt-border-top">
                <div class="col col-50 text-left">Product</div>
                <div class="col col-20 text-right">Unit</div>
                <div class="col col-30 text-center">Price</div>
            </div>
            <div class="row receipt-item" ng-repeat="products in receiptDetail.products">
                <div class="col col-50 text-left">{{products.name}}</div>
                <div class="col col-20 text-right">{{products.qty}}</div>
                <div class="col col-30 text-center">{{products.gross_amount | number : 2}}</div>
            </div>
            <br>
            <div class="row receipt-border-top ">
                <div class="col col-50 text-left"><b>Sub-Total</b></div>
                <div class="col col-20 text-right"><b>{{subTotalUnit}}</b></div>
                <div class="col col-30 text-center"><b>{{receiptDetail.total_gross_amount | number : 2}}</b></div>
            </div>
            <div class="row receipt-border-bottom">
                <div class="col col-50 text-left"><b>Total</b></div>
                <div class="col col-20 text-right"></div>
                <div class="col col-30 text-center"><b>{{receiptDetail.total_gross_amount | number : 2}}</b></div>
            </div>
            <br>
            <div class="row">
                <div class="col col-100 text-left" ng-show="totalCredit.length > 0"><b>For Information Only</b></div>
            </div>
            <div class="row">
                <div class="col col-33 text-left" ng-show="totalCredit.length > 0">Credit card</div>
            </div>
            <div class="row" ng-show="totalCredit.length > 0" ng-repeat="credit in totalCredit">
                <div class="col col-50 text-left">XXXX XXXX XXXX {{credit.no}}</div>
                <div class="col col-20 text-right"></div>
                <div class="col col-30 text-center">{{credit.amount | number : 2}}</div>
            </div>
            <div class="row" ng-show="totalCash > 0">
                <div class="col col-50 text-left">Cash</div>
                <div class="col col-20 text-right"></div>
                <div class="col col-30 text-center">{{totalCash | number : 2}}</div>
            </div>
            <div class="row">
                <div class="col col-50 text-left">Change</div>
                <div class="col col-20 text-right"></div>
                <div class="col col-30 text-center">{{receiptDetail.change | number : 2}}</div>
            </div>
        </ion-scroll>
        <br>
        <div class="bar bar-footer">
            <button class="button button-balanced width-49per" ng-click="print()">
                Print
            </button>
            <button class="button button-assertive width-49per" ui-sref="app.shop">
                Close
            </button>
        </div>
    </ion-content>
</ion-view>
