<ion-modal-view class="modal-view">
    <ion-header-bar>
        <a class="button button-clear button-light " ng-click="Type_of_Payment.hide()"><b class="front-cancel">Cancel</b></span></a>
        <h1 class="title modal-title"><b class="front-cancel">Type of Payment</b></h1>
    </ion-header-bar>
    <ion-content overflow-scroll="false" has-bouncing="true">
        <ion-list ng-repeat="type in typePayment" >
            <ion-radio ng-value="type" ng-model="itemTypePay.type" ng-click="Type_of_Payment.hide()">{{type}}</ion-radio>
        </ion-list>
    </ion-content>
</ion-modal-view>




   
        