<ion-view view-title="Product">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-light" ng-click="aadAdjust()" ng-disabled="!adjusts.unit || !adjusts.remark || adjusts.remark == 'other'? !adjusts.other? true : false :false"><b>Done</b></button>
    </ion-nav-buttons>
    <ion-content scroll="false" overflow-scroll="false" has-bouncing="true" class="icon-red">
        <div class="row item item-text-wrap">
            <div class="col col-40 "><img class="style-pix-h150-w150" ng-src="{{detail.img}}">
            </div>
            <div class="col col-60 text-center">
                <br>
                <span class="product-title icon-red">{{detail.name}}</span>
                <h1 class="product-price icon-red ">{{detail.price}} THB</h1>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col col-100">
                <div class="list">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Unit<span style="color:red;">*</span>
                        </div>
                        <select ng-model="adjusts.unit">
                            <option ng-repeat="qty in qtyAdjust(detail.total_qty)">{{qty}}</option>
                        </select>
                    </label>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Remark<span style="color:red;">*</span>
                        </div>
                        <select ng-model="adjusts.remark">
                            <option>Dilapidated</option>
                            <option>Lend</option>
                            <option value="other">Other</option>
                        </select>
                    </label>
                    <div class="list" ng-show="adjusts.remark == 'other'">
                        <label class="item item-input">
                            <span class="input-label">Other <span style="color:red;">*</span></span>
                            <input type="text" ng-model="adjusts.other">
                        </label>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </ion-content>
</ion-view>
