<ion-view view-title="Defect" ng-init="loadAdj()">
    <ion-nav-buttons side="right">
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" has-bouncing="true" style="background-color: #E8E8E8;">
        <div class="list list-balance">
            <label class="item item-input input-balance">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search" ng-model="searchProducts">
            </label>
        </div>
        <ion-scroll direction="y" style="height:90%;">
            <div class="row shop-products-narrow-cards-outer">
                <div ng-repeat="product in products | filter:searchProducts | orderBy:['-bestSale','-product_type','name']" class="col col-50 shop-product-narrow-card item-product" ng-click="click(product)" on-hold="onHold(product)">
                    <div class="list card" ng-class="{brightness : product.total_qty == 0}">
                        <div class="row border-item-style">
                            <img ng-show="product.bestSale == true" ng-src="img/bestseller.png" class="best-seller-bar">
                            <div class="col col-80"><img ng-src="{{product.img}}" style="width:100px; height:100px;">
                            </div>
                            <div class="col col-20 row-item-shop">
                                <p class="badge badge-balanced">{{product.cart.class_name}}</p>
                                <p class="badge badge-balanced select-item-shopgreen">{{product.total_qty}}</p>
                                <img src="img/images.png" style="width:40px;height:35px; margin-left: -2px;">
                                <div class="div-item-select-shop" ng-show="product.defect.defect_total > 0">
                                    <span class="{{product.defect.defect_total <= 9 ? 'badge badge-assertive item-select-shop adjust-item' : 'badge badge-assertive item-select-shop adjust-item-up'}}">{{product.defect.defect_total}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="item item-body bg-item-shop">
                            <h2 class="card-title">{{product.products_id}}</h2>
                            <p class="card-description">{{product.name}}</p>
                            <p class="{{product.product_type == 'promotion' ? 'card-description icon-promotion' : 'card-description'}}"><b>฿ {{product.price}}</b>
                                <span class="star-promotion" ng-show="product.product_type == 'promotion'"><i class="icon ion-ios-star"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </ion-scroll>
    </ion-content>
</ion-view>
